*{
    margin: 0;
    padding:0;
}

.main{
    display: flex;
    flex-direction: column;
    background-image: url("assets/image/bg.jpg");
    background-position: center center;
    height:80vh;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    
}
nav {
    color: red;
    padding-top: 10px;
    position: relative;
    z-index: 10;
    width: 90%;
    /* FIX */
    max-width: 1200px;
    /* optional, centers nav */
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.main .box{
    z-index: 1;
    background-color: black;
    height: 80vh;
    width: 100%;
    opacity: 0.7;
    position: absolute;
    top:0;
}

.hero {
    text-align: center;
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    color: white;
    font-weight: bold;
    font-size: 15px;
    gap: 23px;
}

.hero> :first-child{
    font-size: 45px;
    font-weight: bolder;
}

.section-curve{
    height:5px;
    width: auto;
    background-color: rgb(241, 5, 5);
    z-index: 10;
}


